# untitled.ipynb
# inference.ipynb
# model
# util
# vis


log
log_backup
assets
test
temp
#speech_eval.ipynb

*/__pycache__/*
# *.ipynb
# test.py
*.pkl
*.pth
*.ckpt
*.pt
*.pth.tar
*.pt.tar
*.wav
*.mp4
*.out
*.txt
*.png
*.tar.gz
*.safetensors
.git
*.tar.gz
